<h1 class="center-align">Billboard Charts</h1>

<% if @billboards.any? %>
  <% @billboards.each do |billboard| %>
    <div class="center-align">
      <ul>
        <li><%= link_to billboard.title, billboard_path(billboard) %></li>
      </ul>
    </div>
  <% end %>
<% else %>
<h4 class="center-align"> No Billboards yet. Create one!</h4>
<% end %>

<div class="center-align">
  <div class="fixed-action-btn">
    <div class="waves-effect waves-light btn black lighten">
      <%= link_to 'Create A Billboard', new_billboard_path %>
    </div>
  </div>
</div>
